body {
    background-color: aqua;
}

.list {
    background-color: aliceblue;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    width: 14pc;
    border-radius: 20px;
    box-shadow: 1px 20px 30px;
}

.mybutton {

}

.feature {
    margin: 20px;    
}

.framework {
    margin: 20px;  
}

.Learn {
    margin: 20px;  
}

.projects {
    margin: 20px;  
}

.restaurant {
    margin: 20px;  
}